@model IEnumerable<Gomar.Models.Text>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tekst</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <a>Nazwa</a>
            </th>
            <th>
                <a>Tekst</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-weight: 400;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm px-3 py-2" onclick="location.href='@Url.Action("Edit", "Text", new { @id = item.Id } )'">
                    Edytuj
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
