
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1>Witaj @User.Identity?.Name!</h1>
    <p>Strona główna <a href="http://oknagomar.pl">Oknagomar.pl</a></p>
</div>


